Repository let-eat-go/backend, pull requests merged in 2024-02, with the labels that each got.

#23 [#16] 모임 생성,수정,취소
  build.gradle
  src/main/java/com/leteatgo/domain/chat/event/ChatRoomEventPublisher.java
  src/main/java/com/leteatgo/domain/meeting/controller/MeetingController.java
  src/main/java/com/leteatgo/domain/meeting/dto/request/.gitkeep
  src/main/java/com/leteatgo/domain/meeting/dto/request/MeetingCreateRequest.java
  src/main/java/com/leteatgo/domain/meeting/dto/request/MeetingOptionsRequest.java
  src/main/java/com/leteatgo/domain/meeting/dto/request/MeetingUpdateRequest.java
  src/main/java/com/leteatgo/domain/meeting/dto/request/TastyRestaurantRequest.java
  src/main/java/com/leteatgo/domain/meeting/dto/response/.gitkeep
  src/main/java/com/leteatgo/domain/meeting/dto/response/MeetingCreateResponse.java
  src/main/java/com/leteatgo/domain/meeting/entity/Meeting.java
  src/main/java/com/leteatgo/domain/meeting/entity/MeetingOptions.java
  src/main/java/com/leteatgo/domain/meeting/entity/MeetingParticipant.java
  src/main/java/com/leteatgo/domain/meeting/repository/MeetingRepository.java
  src/main/java/com/leteatgo/domain/meeting/service/MeetingService.java
  src/main/java/com/leteatgo/domain/meeting/type/AlcoholPreference.java
  src/main/java/com/leteatgo/domain/meeting/type/MeetingStatus.java
  src/main/java/com/leteatgo/domain/member/entity/Member.java
  src/main/java/com/leteatgo/domain/region/controller/RegionController.java
  src/main/java/com/leteatgo/domain/region/dto/request/.gitkeep
  src/main/java/com/leteatgo/domain/region/dto/response/RegionInfo.java
  src/main/java/com/leteatgo/domain/region/dto/response/RegionResponse.java
  src/main/java/com/leteatgo/domain/region/entity/Region.java
  src/main/java/com/leteatgo/domain/region/exception/RegionException.java
  src/main/java/com/leteatgo/domain/region/repository/.gitkeep
  src/main/java/com/leteatgo/domain/region/repository/RegionRepository.java
  src/main/java/com/leteatgo/domain/region/service/RegionService.java
  src/main/java/com/leteatgo/domain/tastyrestaurant/entity/TastyRestaurant.java
  src/main/java/com/leteatgo/domain/tastyrestaurant/repository/TastyRestaurantRepository.java
  src/main/java/com/leteatgo/global/batch/meeting/CancelUnmatchedMeetingsConfig.java
  src/main/java/com/leteatgo/global/batch/scheduler/BatchScheduler.java
  src/main/java/com/leteatgo/global/config/SecurityConfig.java
  src/main/java/com/leteatgo/global/constants/BeanPrefix.java
  src/main/java/com/leteatgo/global/constants/DtoValid.java
  src/main/java/com/leteatgo/global/exception/ErrorCode.java
  src/main/java/com/leteatgo/global/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/leteatgo/global/validator/RestaurantCategoryValidator.java
  src/main/java/com/leteatgo/global/validator/annotation/ValidRestaurantCategory.java
  src/main/resources/application-common.yml
  src/main/resources/application-test.yml
  src/main/resources/static/docs/leteatgo-api.yaml
  src/test/java/com/leteatgo/domain/auth/service/AuthServiceTest.java
  src/test/java/com/leteatgo/domain/meeting/controller/MeetingControllerTest.java
  src/test/java/com/leteatgo/domain/meeting/service/MeetingServiceTest.java
  src/test/java/com/leteatgo/domain/region/controller/RegionControllerTest.java
  src/test/java/com/leteatgo/global/batch/meeting/CancelUnmatchedMeetingsConfigTest.java
  src/test/resources/sql/batch-schema-h2.sql
Labels: 🚀 Feat, ✅ Test

#25 [#22] 채팅방 대화 목록 조회, 내 채팅방 목록 조회
  build.gradle
  src/main/java/com/leteatgo/domain/chat/controller/ChatRoomController.java
  src/main/java/com/leteatgo/domain/chat/dto/response/ChatMessageResponse.java
  src/main/java/com/leteatgo/domain/chat/dto/response/MyChatRoomResponse.java
  src/main/java/com/leteatgo/domain/chat/entity/ChatMessage.java
  src/main/java/com/leteatgo/domain/chat/entity/ChatRoom.java
  src/main/java/com/leteatgo/domain/chat/repository/ChatMessageRepository.java
  src/main/java/com/leteatgo/domain/chat/repository/CustomChatMessageRepository.java
  src/main/java/com/leteatgo/domain/chat/repository/impl/CustomChatMessageRepositoryImpl.java
  src/main/java/com/leteatgo/domain/chat/service/ChatRoomService.java
  src/main/java/com/leteatgo/domain/meeting/entity/Meeting.java
  src/main/java/com/leteatgo/domain/meeting/repository/CustomMeetingParticipantRepository.java
  src/main/java/com/leteatgo/domain/meeting/repository/MeetingParticipantRepository.java
  src/main/java/com/leteatgo/domain/meeting/repository/impl/CustomMeetingParticipantRepositoryImpl.java
  src/main/java/com/leteatgo/domain/tastyrestaurant/controller/TastyRestaurantController.java
  src/main/java/com/leteatgo/domain/tastyrestaurant/dto/response/VisitedRestaurantResponse.java
  src/main/java/com/leteatgo/domain/tastyrestaurant/repository/TastyRestaurantRepository.java
  src/main/java/com/leteatgo/domain/tastyrestaurant/service/TastyRestaurantService.java
  src/main/java/com/leteatgo/global/config/WebSocketConfig.java
  src/main/java/com/leteatgo/global/dto/CustomPageRequest.java
  src/main/java/com/leteatgo/global/dto/SliceResponse.java
  src/main/java/com/leteatgo/global/exception/ErrorCode.java
  src/main/java/com/leteatgo/global/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/leteatgo/global/socket/handler/StompErrorHandler.java
  src/main/java/com/leteatgo/global/socket/interceptor/SocketInterceptor.java
  src/main/java/com/leteatgo/global/util/SliceUtil.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/application-test.yml
  src/main/resources/static/docs/leteatgo-api.yaml
  src/test/java/com/leteatgo/domain/chat/controller/ChatRoomControllerTest.java
  src/test/java/com/leteatgo/domain/chat/service/ChatRoomServiceTest.java
  src/test/java/com/leteatgo/domain/tastyrestaurant/controller/TastyRestaurantControllerTest.java
  src/test/java/com/leteatgo/domain/tastyrestaurant/service/TastyRestaurantServiceTest.java
  src/test/java/com/leteatgo/http/chat-room.http
Labels: 🚀 Feat, ♻️ Refactor, ✅ Test

#27 [#26] 외부 메세지 브로커 연동, 채팅 리팩터링
  .docker/docker-build.sh
  .docker/docker-compose-dev.yml
  .docker/nginx/Dockerfile-nginx
  .docker/nginx/nginx-dev.conf
  .docker/rabbitmq/Dockerfile-rabbitmq
  .docker/rabbitmq/init.sh
  .github/workflows/deploy-dev.yml
  .gitignore
  build.gradle
  src/main/java/com/leteatgo/domain/chat/controller/ChatMessageController.java
  src/main/java/com/leteatgo/domain/chat/dto/ChatMessageDto.java
  src/main/java/com/leteatgo/domain/chat/dto/response/ChatMessageResponse.java
  src/main/java/com/leteatgo/domain/chat/dto/response/MyChatRoomResponse.java
  src/main/java/com/leteatgo/domain/chat/repository/ChatRoomRepository.java
  src/main/java/com/leteatgo/domain/chat/repository/CustomChatRoomRepository.java
  src/main/java/com/leteatgo/domain/chat/repository/impl/CustomChatRoomRepositoryImpl.java
  src/main/java/com/leteatgo/domain/chat/service/ChatMessageService.java
  src/main/java/com/leteatgo/domain/chat/service/ChatRoomService.java
  src/main/java/com/leteatgo/global/config/RabbitMQConfig.java
  src/main/java/com/leteatgo/global/config/WebSocketConfig.java
  src/main/java/com/leteatgo/global/constants/Destination.java
  src/main/java/com/leteatgo/global/constants/RoutingKey.java
  src/main/java/com/leteatgo/global/exception/ErrorCode.java
  src/main/java/com/leteatgo/global/socket/handler/StompErrorHandler.java
  src/main/java/com/leteatgo/global/socket/interceptor/SocketInterceptor.java
  src/main/java/com/leteatgo/global/socket/interceptor/StompChannelInterceptor.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-test.yml
  src/main/resources/properties/env.properties.example
  src/main/resources/static/docs/leteatgo-api.yaml
  src/test/java/com/leteatgo/domain/chat/service/ChatRoomServiceTest.java
  src/test/java/com/leteatgo/domain/tastyrestaurant/controller/TastyRestaurantControllerTest.java
Labels: 🚀 Feat, ♻️ Refactor, ✅ Test

#28 [#24] 모임 상세 조회, 목록 조회, 검색
  src/main/java/com/leteatgo/domain/meeting/controller/MeetingController.java
  src/main/java/com/leteatgo/domain/meeting/dto/response/MeetingDetailResponse.java
  src/main/java/com/leteatgo/domain/meeting/dto/response/MeetingListResponse.java
  src/main/java/com/leteatgo/domain/meeting/dto/response/MeetingSearchResponse.java
  src/main/java/com/leteatgo/domain/meeting/entity/Meeting.java
  src/main/java/com/leteatgo/domain/meeting/repository/CustomMeetingRepository.java
  src/main/java/com/leteatgo/domain/meeting/repository/MeetingRepository.java
  src/main/java/com/leteatgo/domain/meeting/repository/impl/CustomMeetingRepositoryImpl.java
  src/main/java/com/leteatgo/domain/meeting/service/MeetingService.java
  src/main/java/com/leteatgo/domain/meeting/type/SearchType.java
  src/main/java/com/leteatgo/domain/region/entity/Region.java
  src/main/java/com/leteatgo/global/config/SecurityConfig.java
  src/main/java/com/leteatgo/global/exception/ErrorCode.java
  src/main/java/com/leteatgo/global/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/leteatgo/global/util/QuerydslUtil.java
  src/main/resources/application-local.yml
  src/main/resources/properties/env.properties.example
  src/main/resources/static/docs/leteatgo-api.yaml
  src/test/java/com/leteatgo/domain/meeting/controller/MeetingControllerTest.java
  src/test/java/com/leteatgo/domain/meeting/service/MeetingServiceTest.java
Labels: 🚀 Feat, ✅ Test

#32 [#30] 채팅방 메세지 전송 수정, 에러 메세지 세분화
  src/main/java/com/leteatgo/domain/chat/controller/ChatMessageController.java
  src/main/java/com/leteatgo/domain/chat/dto/ChatMessageDto.java
  src/main/java/com/leteatgo/domain/chat/dto/response/MyChatRoomResponse.java
  src/main/java/com/leteatgo/domain/chat/service/ChatMessageService.java
  src/main/java/com/leteatgo/domain/meeting/repository/impl/CustomMeetingParticipantRepositoryImpl.java
  src/main/java/com/leteatgo/global/exception/ErrorCode.java
  src/main/java/com/leteatgo/global/socket/interceptor/StompChannelInterceptor.java
  src/test/java/com/leteatgo/domain/chat/controller/ChatRoomControllerTest.java
  src/test/java/com/leteatgo/domain/chat/service/ChatRoomServiceTest.java
Labels: ♻️ Refactor

#34 [#33] 내 정보 조회, 회원 수정, 삭제
  build.gradle
  src/main/java/com/leteatgo/domain/member/controller/.gitkeep
  src/main/java/com/leteatgo/domain/member/controller/MemberController.java
  src/main/java/com/leteatgo/domain/member/dto/request/.gitkeep
  src/main/java/com/leteatgo/domain/member/dto/request/UpdateInfoRequest.java
  src/main/java/com/leteatgo/domain/member/dto/response/.gitkeep
  src/main/java/com/leteatgo/domain/member/dto/response/MyInfoResponse.java
  src/main/java/com/leteatgo/domain/member/entity/Member.java
  src/main/java/com/leteatgo/domain/member/repository/.gitkeep
  src/main/java/com/leteatgo/domain/member/service/.gitkeep
  src/main/java/com/leteatgo/domain/member/service/MemberService.java
  src/main/java/com/leteatgo/global/exception/ErrorCode.java
  src/main/java/com/leteatgo/global/storage/FileDto.java
  src/main/java/com/leteatgo/global/storage/StorageService.java
  src/main/java/com/leteatgo/global/storage/exception/StorageException.java
  src/main/java/com/leteatgo/global/storage/s3/AwsS3Service.java
  src/main/java/com/leteatgo/global/storage/s3/S3FileDto.java
  src/main/java/com/leteatgo/global/validator/FileValidator.java
  src/main/java/com/leteatgo/global/validator/annotation/ValidFile.java
  src/main/resources/application-common.yml
  src/main/resources/properties/env.properties.example
  src/test/java/com/leteatgo/domain/chat/controller/ChatRoomControllerTest.java
  src/test/java/com/leteatgo/domain/member/controller/MemberControllerTest.java
  src/test/java/com/leteatgo/domain/member/service/MemberServiceTest.java
  src/test/java/com/leteatgo/domain/tastyrestaurant/controller/TastyRestaurantControllerTest.java
  src/test/java/com/leteatgo/http/member.http
  src/test/resources/img/invalidFile.json
  src/test/resources/img/profile.jpeg
Labels: 🚀 Feat, ✅ Test

#36 [#29] 모임 참여, 나가기
  build.gradle
  src/main/java/com/leteatgo/domain/meeting/controller/MeetingController.java
  src/main/java/com/leteatgo/domain/meeting/entity/Meeting.java
  src/main/java/com/leteatgo/domain/meeting/entity/MeetingOptions.java
  src/main/java/com/leteatgo/domain/meeting/repository/impl/CustomMeetingRepositoryImpl.java
  src/main/java/com/leteatgo/domain/meeting/service/MeetingService.java
  src/main/java/com/leteatgo/domain/member/entity/Member.java
  src/main/java/com/leteatgo/global/config/RedisConfig.java
  src/main/java/com/leteatgo/global/exception/ErrorCode.java
  src/main/java/com/leteatgo/global/lock/annotation/DistributedLock.java
  src/main/java/com/leteatgo/global/lock/aop/AopForTransaction.java
  src/main/java/com/leteatgo/global/lock/aop/DistributedLockAop.java
  src/main/java/com/leteatgo/global/lock/util/CustomSpringELParser.java
  src/test/java/com/leteatgo/domain/meeting/controller/MeetingControllerTest.java
  src/test/java/com/leteatgo/domain/meeting/service/MeetingConcurrencyTest.java
  src/test/java/com/leteatgo/domain/meeting/service/MeetingServiceTest.java
Labels: 🚀 Feat, ✅ Test

#37 [#35] 나의 모임 내역 조회, 타 회원 조회
  src/main/java/com/leteatgo/domain/meeting/repository/CustomMeetingParticipantRepository.java
  src/main/java/com/leteatgo/domain/meeting/repository/impl/CustomMeetingParticipantRepositoryImpl.java
  src/main/java/com/leteatgo/domain/member/controller/MemberController.java
  src/main/java/com/leteatgo/domain/member/dto/response/MemberProfileResponse.java
  src/main/java/com/leteatgo/domain/member/dto/response/MyMeetingsResponse.java
  src/main/java/com/leteatgo/domain/member/service/MemberService.java
  src/main/java/com/leteatgo/domain/member/type/SearchType.java
  src/main/java/com/leteatgo/global/config/WebConfig.java
  src/main/java/com/leteatgo/global/converter/SearchTypeConverter.java
  src/main/java/com/leteatgo/global/dto/CustomPageRequest.java
  src/main/java/com/leteatgo/global/exception/ErrorCode.java
  src/main/java/com/leteatgo/global/validator/FileValidator.java
  src/test/java/com/leteatgo/domain/member/controller/MemberControllerTest.java
  src/test/java/com/leteatgo/domain/member/service/MemberServiceTest.java
  src/test/java/com/leteatgo/http/member.http
Labels: 🚀 Feat, ✅ Test

#41 [#40] 평가하기 API, 이벤트 처리 구현
  src/main/java/com/leteatgo/domain/chat/event/ChatRoomEventPublisher.java
  src/main/java/com/leteatgo/domain/meeting/repository/CustomMeetingRepository.java
  src/main/java/com/leteatgo/domain/meeting/repository/impl/CustomMeetingRepositoryImpl.java
  src/main/java/com/leteatgo/domain/member/entity/Member.java
  src/main/java/com/leteatgo/domain/review/controller/.gitkeep
  src/main/java/com/leteatgo/domain/review/controller/ReviewController.java
  src/main/java/com/leteatgo/domain/review/dto/request/.gitkeep
  src/main/java/com/leteatgo/domain/review/dto/request/ReviewRequest.java
  src/main/java/com/leteatgo/domain/review/dto/response/.gitkeep
  src/main/java/com/leteatgo/domain/review/entity/Review.java
  src/main/java/com/leteatgo/domain/review/event/ReviewEventHandler.java
  src/main/java/com/leteatgo/domain/review/event/ReviewEventPublisher.java
  src/main/java/com/leteatgo/domain/review/event/dto/ReviewParticipantEvent.java
  src/main/java/com/leteatgo/domain/review/repository/.gitkeep
  src/main/java/com/leteatgo/domain/review/repository/ReviewRepository.java
  src/main/java/com/leteatgo/domain/review/service/.gitkeep
  src/main/java/com/leteatgo/domain/review/service/ReviewService.java
  src/main/java/com/leteatgo/global/exception/ErrorCode.java
  src/test/java/com/leteatgo/domain/review/controller/ReviewControllerTest.java
  src/test/java/com/leteatgo/domain/review/service/ReviewServiceTest.java
  src/test/java/com/leteatgo/http/review.http
Labels: 🚀 Feat, ✅ Test

#42 [#39] 알림 기능
  build.gradle
  src/main/java/com/leteatgo/domain/auth/controller/AuthController.java
  src/main/java/com/leteatgo/domain/meeting/service/MeetingService.java
  src/main/java/com/leteatgo/domain/notification/controller/.gitkeep
  src/main/java/com/leteatgo/domain/notification/controller/NotificationController.java
  src/main/java/com/leteatgo/domain/notification/dto/NotificationDto.java
  src/main/java/com/leteatgo/domain/notification/dto/request/.gitkeep
  src/main/java/com/leteatgo/domain/notification/dto/response/.gitkeep
  src/main/java/com/leteatgo/domain/notification/entity/Notification.java
  src/main/java/com/leteatgo/domain/notification/event/NotificationEvent.java
  src/main/java/com/leteatgo/domain/notification/event/NotificationEventHandler.java
  src/main/java/com/leteatgo/domain/notification/event/NotificationEventPublisher.java
  src/main/java/com/leteatgo/domain/notification/repository/.gitkeep
  src/main/java/com/leteatgo/domain/notification/repository/NotificationRepository.java
  src/main/java/com/leteatgo/domain/notification/repository/SseEmitterRepository.java
  src/main/java/com/leteatgo/domain/notification/service/.gitkeep
  src/main/java/com/leteatgo/domain/notification/service/NotificationService.java
  src/main/java/com/leteatgo/domain/notification/service/RabbitMQService.java
  src/main/java/com/leteatgo/domain/notification/service/SseEmitterService.java
  src/main/java/com/leteatgo/global/batch/meeting/CancelUnmatchedMeetingsConfig.java
  src/main/java/com/leteatgo/global/config/RabbitMQConfig.java
  src/main/java/com/leteatgo/global/config/SecurityConfig.java
  src/main/java/com/leteatgo/global/constants/NotificationMessage.java
  src/main/java/com/leteatgo/global/constants/RoutingKey.java
  src/main/java/com/leteatgo/global/exception/ErrorCode.java
  src/test/java/com/leteatgo/domain/auth/controller/AuthControllerTest.java
  src/test/java/com/leteatgo/domain/notification/controller/NotificationControllerTest.java
  src/test/java/com/leteatgo/domain/notification/service/NotificationServiceTest.java
Labels: 🚀 Feat, ✅ Test

#46 [#45] 알림 구독 리팩토링
  src/main/java/com/leteatgo/domain/auth/controller/AuthController.java
  src/main/java/com/leteatgo/domain/auth/service/AuthService.java
  src/main/java/com/leteatgo/domain/notification/repository/SseEmitterRepository.java
  src/main/java/com/leteatgo/domain/notification/service/NotificationService.java
  src/main/java/com/leteatgo/domain/notification/service/RabbitMQService.java
  src/main/java/com/leteatgo/domain/notification/service/SseEmitterService.java
  src/main/java/com/leteatgo/global/batch/meeting/CancelUnmatchedMeetingsConfig.java
  src/main/java/com/leteatgo/global/config/RabbitMQConfig.java
  src/main/java/com/leteatgo/global/constants/Notification.java
  src/main/java/com/leteatgo/global/rabbitmq/handler/MessageHandler.java
  src/main/java/com/leteatgo/global/rabbitmq/handler/NotificationMessageHandler.java
  src/main/java/com/leteatgo/global/rabbitmq/listener/MultiMessageListener.java
  src/main/java/com/leteatgo/global/rabbitmq/service/RabbitMQService.java
  src/test/java/com/leteatgo/domain/auth/controller/AuthControllerTest.java
  src/test/java/com/leteatgo/domain/auth/service/AuthServiceTest.java
  src/test/java/com/leteatgo/domain/notification/service/NotificationServiceTest.java
Labels: ♻️ Refactor

#47 [#44] 인기 검색어 API 리팩터링
  .docker/docker-compose-dev.yml
  .docker/nginx/nginx-dev.conf
  .docker/redis/redis.conf
  build.gradle
  src/main/java/com/leteatgo/domain/tastyrestaurant/dto/response/PopularKeywordsResponse.java
  src/main/java/com/leteatgo/domain/tastyrestaurant/scheduler/TastyRestaurantScheduler.java
  src/main/java/com/leteatgo/domain/tastyrestaurant/service/RedisRankingService.java
  src/main/resources/application-common.yml
  src/test/java/com/leteatgo/global/config/RedisTestContainer.java
  src/test/java/com/leteatgo/global/redis/RedisZSetOperTest.java
Labels: ♻️ Refactor

#48 [#43] 모임 확정 API
  src/main/java/com/leteatgo/domain/meeting/controller/MeetingController.java
  src/main/java/com/leteatgo/domain/meeting/entity/Meeting.java
  src/main/java/com/leteatgo/domain/meeting/entity/MeetingOptions.java
  src/main/java/com/leteatgo/domain/meeting/service/MeetingService.java
  src/main/java/com/leteatgo/global/exception/ErrorCode.java
  src/test/java/com/leteatgo/domain/meeting/controller/MeetingControllerTest.java
  src/test/java/com/leteatgo/domain/meeting/service/MeetingServiceTest.java
Labels: 🚀 Feat, ✅ Test

#52 [#51] 모임 검색 리팩토링
  src/main/java/com/leteatgo/domain/meeting/controller/MeetingController.java
  src/main/java/com/leteatgo/domain/meeting/dto/response/MeetingSearchResponse.java
  src/main/java/com/leteatgo/domain/meeting/repository/CustomMeetingRepository.java
  src/main/java/com/leteatgo/domain/meeting/repository/impl/CustomMeetingRepositoryImpl.java
  src/main/java/com/leteatgo/domain/meeting/service/MeetingService.java
  src/main/java/com/leteatgo/domain/meeting/type/SearchType.java
  src/main/java/com/leteatgo/global/util/QuerydslUtil.java
  src/test/java/com/leteatgo/domain/meeting/controller/MeetingControllerTest.java
  src/test/java/com/leteatgo/domain/meeting/service/MeetingServiceTest.java
Labels: ♻️ Refactor

#50 [#38] 모임 상태 배치처리, 모임 리마인드 알림
  src/main/java/com/leteatgo/domain/meeting/repository/CustomMeetingRepository.java
  src/main/java/com/leteatgo/domain/meeting/repository/impl/CustomMeetingRepositoryImpl.java
  src/main/java/com/leteatgo/domain/notification/type/NotificationType.java
  src/main/java/com/leteatgo/global/batch/meeting/CompleteMeetingsConfig.java
  src/main/java/com/leteatgo/global/batch/meeting/RemindMeetingsBeforeOneDayConfig.java
  src/main/java/com/leteatgo/global/batch/meeting/RemindUpcomingMeetingsConfig.java
  src/main/java/com/leteatgo/global/batch/meeting/UpdateMeetingsStatusConfig.java
  src/main/java/com/leteatgo/global/batch/scheduler/BatchScheduler.java
  src/main/java/com/leteatgo/global/constants/BeanPrefix.java
  src/main/java/com/leteatgo/global/constants/Notification.java
  src/test/java/com/leteatgo/global/batch/meeting/UpdateMeetingsStatusConfigTest.java
Labels: 🚀 Feat

#54 [#49] 맛집 검색 API Circuit breaker 패턴 적용
  build.gradle
  src/main/java/com/leteatgo/domain/chat/dto/response/ChatMessageResponse.java
  src/main/java/com/leteatgo/domain/chat/dto/response/MyChatRoomResponse.java
  src/main/java/com/leteatgo/domain/member/dto/response/MyMeetingsResponse.java
  src/main/java/com/leteatgo/domain/tastyrestaurant/dto/response/SearchRestaurantsResponse.java
  src/main/java/com/leteatgo/domain/tastyrestaurant/repository/CustomTastyRestaurantRepository.java
  src/main/java/com/leteatgo/domain/tastyrestaurant/repository/TastyRestaurantRepository.java
  src/main/java/com/leteatgo/domain/tastyrestaurant/repository/impl/CustomTastyRestaurantRepositoryImpl.java
  src/main/java/com/leteatgo/domain/tastyrestaurant/service/TastyRestaurantService.java
  src/main/java/com/leteatgo/global/config/SecurityConfig.java
  src/main/java/com/leteatgo/global/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/leteatgo/global/util/OrderByNull.java
  src/main/resources/application-common.yml
  src/test/java/com/leteatgo/domain/tastyrestaurant/service/TastyRestaurantServiceTest.java
  src/test/java/com/leteatgo/http/actuator.http
  src/test/java/com/leteatgo/http/auth.http
  src/test/java/com/leteatgo/http/tastyRestaurant.http
Labels: 🚀 Feat, ♻️ Refactor

#55 [#53] 운영 서버 배포
  .docker/docker-compose-prod.yml
  .docker/nginx/Dockerfile-nginx
  .docker/nginx/nginx-blue.conf
  .docker/nginx/nginx-green.conf
  .docker/nginx/nginx-prod.conf
  .github/workflows/deploy-prod.yml
  build.gradle
  script/deploy-prod.sh
  src/main/resources/application-prod.yml
Labels: 🌏 Release

#58 [#57] 알림 보내기 테스트용 api
  src/main/java/com/leteatgo/LeteatgoController.java
  src/main/java/com/leteatgo/domain/notification/controller/NotificationController.java
  src/test/java/com/leteatgo/domain/notification/controller/NotificationControllerTest.java
Labels: 🚀 Feat

#59 circuit breaker 에러 핸들링 추가
  src/main/java/com/leteatgo/domain/tastyrestaurant/service/TastyRestaurantService.java
  src/main/java/com/leteatgo/global/external/exception/ApiBadRequestException.java
  src/main/java/com/leteatgo/global/external/exception/ApiException.java
  src/main/java/com/leteatgo/global/external/searchplace/RestaurantSearcher.java
  src/main/java/com/leteatgo/global/external/searchplace/client/kakao/client/KakaoApiClient.java
  src/main/java/com/leteatgo/global/external/searchplace/client/kakao/config/KakaoApiConfig.java
  src/main/java/com/leteatgo/global/external/searchplace/client/kakao/exception/KakaoApiException.java
  src/main/resources/application-test.yml
  src/test/java/com/leteatgo/domain/tastyrestaurant/service/TastyRestaurantServiceTest.java
  src/test/java/com/leteatgo/global/circuitbreaker/CircuitBreakerTest.java
Labels: ♻️ Refactor, ✅ Test

#61 [#60] 모임 취소 시 취소 사유 받기
  src/main/java/com/leteatgo/domain/meeting/controller/MeetingController.java
  src/main/java/com/leteatgo/domain/meeting/dto/request/MeetingCancelRequest.java
  src/main/java/com/leteatgo/domain/meeting/dto/response/MeetingDetailResponse.java
  src/main/java/com/leteatgo/domain/meeting/entity/Meeting.java
  src/main/java/com/leteatgo/domain/meeting/service/MeetingService.java
  src/main/java/com/leteatgo/global/batch/meeting/UpdateMeetingsStatusConfig.java
  src/main/java/com/leteatgo/global/util/QuerydslUtil.java
  src/test/java/com/leteatgo/domain/meeting/controller/MeetingControllerTest.java
  src/test/java/com/leteatgo/domain/meeting/service/MeetingServiceTest.java
Labels: 🚀 Feat, ✅ Test

#65 flyway 도입
  build.gradle
  sql/ddl.sql
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/db/migration/V1__init.sql
Labels: 🛠 Setting

#71 [#70] 모임원 평가 리팩토링 및 평가할 모임원 조회 API 추가
  src/main/java/com/leteatgo/domain/review/controller/ReviewController.java
  src/main/java/com/leteatgo/domain/review/dto/response/ReviewParticipantResponse.java
  src/main/java/com/leteatgo/domain/review/repository/ReviewRepository.java
  src/main/java/com/leteatgo/domain/review/service/ReviewService.java
  src/main/java/com/leteatgo/global/exception/ErrorCode.java
  src/test/java/com/leteatgo/domain/review/controller/ReviewControllerTest.java
  src/test/java/com/leteatgo/domain/review/service/ReviewServiceTest.java
Labels: 🚀 Feat, ♻️ Refactor, ✅ Test

#79 [#78] meeting update fix
  src/main/java/com/leteatgo/domain/meeting/service/MeetingService.java
Labels: 🐛 Bug

#83 [#82] 타 회원 모임 조회 API 추가
  src/main/java/com/leteatgo/domain/meeting/repository/CustomMeetingParticipantRepository.java
  src/main/java/com/leteatgo/domain/meeting/repository/impl/CustomMeetingParticipantRepositoryImpl.java
  src/main/java/com/leteatgo/domain/member/controller/MemberController.java
  src/main/java/com/leteatgo/domain/member/dto/response/MemberMeetingsResponse.java
  src/main/java/com/leteatgo/domain/member/service/MemberService.java
  src/test/java/com/leteatgo/domain/member/controller/MemberControllerTest.java
  src/test/java/com/leteatgo/domain/member/service/MemberServiceTest.java
  src/test/java/com/leteatgo/http/member.http
Labels: 🚀 Feat, ♻️ Refactor, ✅ Test

#85 [#63] 서브쿼리 개선
  src/main/java/com/leteatgo/domain/chat/entity/ChatRoom.java
  src/main/java/com/leteatgo/domain/meeting/repository/impl/CustomMeetingParticipantRepositoryImpl.java
  src/main/resources/db/migration/V3__add_chatroom_status_idx.sql
Labels: ♻️ Refactor, ✅ Test
